{% extends "base.html" %}
{% block title %} Home Page {% endblock %}
{% block css %}
<style>
    p {
        font-size: 30px;
        color: black;
        margin-top: 20px;
    }
    li {
        font-size: 15px;
        color: black;
        margin-top: 10px;
    }
</style>
{% endblock %}
{% block content %}

<div class="container">
    <p>Welcome to our recommendation system platform!</p>
    <p>What can you do on this website?</p>
    <ul>
        <li>Upload your data file.</li>
        <li>Select your recommendation algorithms.</li>
        <li>Select your parameters.</li>
        <li>Get your recommendation results.</li>
    </ul>

</div>


{% endblock %}
